*{
    margin:0;
}


body {
    background-color: #FFF9E8; /* Define un color de fondo claro para toda la p谩gina */
    /* display: flex; Usa flexbox para manejar la distribuci贸n de los elementos */
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    justify-content: center; /* Centra los elementos verticalmente dentro del contenedor */
    align-items: center; /*Centra los elementos horizontalmente dentro del contenedor */

    
}

main{
    display: flex;
    flex-direction: column;
}

/* PORTADA WEB */
.container-portada {
    min-height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("./../../public/img/piano-portada.jpg");
    /* height: 200px; */
}

.pic-portada {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Ajusta la altura autom谩ticamente para mantener la proporci贸n de la imagen */
    display: block; /*Elimina cualquier espacio inferior generado por la imagen en un flujo inline */
    object-fit: contain;
} 

.title-portada{
    /*position: absolute; /* Posiciona el texto de forma absoluta dentro de su contenedor padre */
    /*top: 50%; /* Coloca el texto al 40% desde la parte superior del contenedor */
    /*left: 50%; /* Coloca el texto al 50% desde la izquierda del contenedor */
    /*transform: translate(-50%, -50%); /* Ajusta el texto para que quede perfectamente centrado */
    /*font-size: 30px; /* Define el tama帽o de la fuente para el texto */
    color: white; /* Cambia el color del texto a blanco */
    font-weight: bold; /* Aplica negrita al texto */
    text-align: center; /* Centra el texto dentro de su l铆nea */
    justify-content: center;
    align-items: center;
    padding: 0% 0% 2% 0%;
}

.button-portada {
   /* position: absolute;  Posiciona el bot贸n de forma absoluta dentro del contenedor padre */
    /*top: 58%; /* Coloca el bot贸n al 55% desde la parte superior del contenedor */
    /*left: 50%; /* Coloca el bot贸n al 50% desde la izquierda del contenedor */
    /*transform: translate(-50%, -50%); /* Ajusta el bot贸n para que quede perfectamente centrado */
    /*padding: 5px 10px; /* A帽ade espacio interno al bot贸n (5px arriba/abajo, 10px izquierda/derecha) */
    /*font-size: 10px;  Define el tama帽o de la fuente del texto dentro del bot贸n */
    background-color: #CA749C; /* Establece el color de fondo del bot贸n */
    border: none; /* Elimina cualquier borde predeterminado del bot贸n */
    opacity: 75%; /* Hace que el bot贸n sea ligeramente transl煤cido */
    border-radius: 5px; /* Redondea las esquinas del bot贸n */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el bot贸n */
    width: 15%
}

.boton:hover {
    background-color: #B95F89; /* Cambia el color del bot贸n cuando el mouse pasa por encima */
}




/* CAROUSEL */
.title-carousel{
    text-align: center;
    padding: 5% 5% 0% 5%;
    font-size:35px;
}
.description {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    font-size: 20px;
    padding: 2%;
    max-width: 88%;
    text-align: justify; 
    margin-left: 6%;/* Si quieres que el texto est茅 justificado */
}

.nose {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*  Contenedor del carrusel */

.carousel-container {
    width: 80%; /* cambio tama帽o del carrusel */
    /* width: 80%; cambio tama帽o del carrusel */
    /*height: 30vh;  Altura del carrusel */
    display: flex; /* Flexbox para los elementos internos */
    align-items: center; /* Centra los elementos dentro del carrusel */
    margin-left: 10%;
    /* margin-left:6%; */
    overflow:hidden; /* Oculta cualquier contenido que se desborde */
}
.img-wrapper {
    display: flex; /* Flexbox para las im谩genes */
    /* width: 100%; Ancho completo del contenedor */
    /* height: 100%; /* Altura completa del contenedor */
    object-fit: cover; /*Ajusta imagen sin distorsionar */
    animation: slide 16s infinite; /* Animaci贸n continua */
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* CARTAS APRENDER */
.aprender{
    display: flex; /* Utiliza Flexbox para organizar las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se muevan a la siguiente l铆nea cuando no haya espacio suficiente */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px;
    gap: 30px; /* Espacio entre las tarjetas */
    padding: 3% 3% 3% 5% ;
}

.container-aprender{
    display: flex; /* Organiza la tarjeta horizontalmente (imagen + texto) */
    width: 90%; /* Establece que cada tarjeta ocupe el 48% del ancho del contenedor */
    width: 95%; /* Establece que cada tarjeta ocupe el 48% del ancho del contenedor */
    border-radius: 10px; /* Bordes redondeados en toda la tarjeta */
    overflow: hidden; /* Evita que el contenido se salga de los bordes redondeados */
}

.img-aprender {
    width: 310px; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 250px; /* Ajusta la altura para pantallas peque帽as (en m贸vil) */
    background-size: cover; /* Hace que la imagen cubra completamente el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    border-radius: 10px 0px 0px 10px; /* Redondea la esquina superior izquierda de la imagen */
  }


.txt-aprender{
    /*flex: 1; /*  Ocupa el 100% del espacio disponible en la tarjeta */
   /* display: flex; /* Utiliza Flexbox para organizar el contenido dentro de la secci贸n */
    /*flex-direction: column;  Organiza el contenido en una columna (arriba hacia abajo) */
    /*justify-content: center; Centra el contenido verticalmente*/
    /*margin-bottom: 20px; /* Espacio entre el p谩rrafo y el bot贸n */
    /* text-align: justify; */
    font-size:23px;
    padding:10px;
    line-height: 1.1;
}

#carousel{
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);  Dos columnas */
    gap: 10px;
}

.boton-aprender-instrumentos{
    padding: 10px; 
    padding-left: 30px; 
    padding-right: 30px;     /* Tama帽o del bot贸n */
    background-color: #FAC72D; /* Color de fondo del bot贸n */
    border: none; /* Elimina cualquier borde predeterminado del bot贸n */
    opacity: 75%; /* Hace que el bot贸n sea ligeramente transl煤cido */
    border-radius: 55px; /* Redondea las esquinas del bot贸n */
    display: center; /* Hace que el bot贸n ocupe solo el espacio del contenido (el texto) */
    /*text-align: center;  Centra el texto dentro del bot贸n */
    margin-left:35%;
    font-weight: bold;
}

/* Media query para pantallas con m谩s de 720px */
@media screen and (min-width: 720px) {
    .title-portada {
        font-size: 40px; /* Aumenta el tama帽o del t铆tulo */
    }

    .button-portada {
        font-size: 20px; /* Aumenta el tama帽o del texto del bot贸n */
        margin-top: 1%;
        padding: 10px 20px; /* Ajusta el tama帽o del bot贸n */
    }

    .title-carousel{
        font-size: 45px;
    }
    .description{
        font-size:25px;
        
    }

    .carousel-container{
        /*width: 40%;
         display: flex;
        align-items: center;
        justify-content: center; */
        /*gap: 20px;  Espacio entre imagen y texto */
        margin-left: 15%;
    }

    .container-portada{
        min-height: 100vh;
    }

    
    .img-aprender{
        width:200px;
        height: 150px;
    }

    .txt-aprender{
        font-size: 17px;
    }

    .aprender{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
        gap: 50px;
    }

   #carousel{
      /* Espacio entre la imagen y el texto */
    grid-template-columns: 1fr 1fr; 
    
   }

}



  



