body {
    background-image: url("./../../public/img/inconstruction.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    color: aliceblue;
}

section {
    background-color: rgba(217, 217, 217, 56%);
    padding: 5%;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0
}