* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.notas-piano {
    width: 80%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    text-align: center;
}

ol {
    display: flex;
    list-style-type: none;
}

.nota {
    background-color: azure;
    border: solid black 1px;
    border-radius: 0px 0px 5px 5px;
    height: 140px;
    width: 20px;
}

.nota-sos {
    position: absolute;
    background-color: rgb(45, 45, 45);
    border: solid black 1px;
    border-radius: 0px 0px 4px 4px;
    height: 90px;
    width: 16px;
    margin-left: -8px;
}

.presionada {
    background-color: #08d034;
}

@media only screen and (min-width: 720px) and (max-width: 1365px)  {
    .nota {
        height: 350px;
        width: 75px;
    }   
    .nota-sos {
        height: 180px;
        width: 40px;
        margin-left: -20px;
    }
}

@media (min-width: 1366px) {
    .notas-piano {
        margin: 0.5vh;
    }
    .nota {
        height: 550px;
        width: 100px;
        border: solid black 2px;
    }   
    .nota-sos {
        height: 300px;
        width: 60px;
        margin-left: -30px;
        border: solid black 2px;
    }
}